// FlatUI colors. http://flatuicolors.com
flatui-turquoise = #1abc9c
flatui-greensea = #16a085
flatui-emerald = #2ecc71
flatui-nephritis = #27ae60
flatui-peterriver = #3498db
flatui-belizehole = #2980b9
flatui-amethyst = #9b59b6
flatui-wisteria = #8e44ad
flatui-wetasphalt = #34495e
flatui-midnightblue = #2c3e50
flatui-sunflower = #f1c40f
flatui-orange = #f39c12
flatui-carrot = #e67e22
flatui-pumpkin = #d35400
flatui-alizarin = #e74c3c
flatui-pomegranate = #c0392b
flatui-clouds = #ecf0f1
flatui-silver = #bdc3c7
flatui-concrete = #95a5a6
flatui-asbestos = #7f8c8d

// nib for CSS autoprefixing. http://visionmedia.github.io/nib/
@import 'nib'

body
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size: 24px
  font-weight: 300
  color: flatui-midnightblue
  -webkit-user-select: none
  line-height: 1.5em
  
  .container
    width: 100%
    height: 100%
    padding: 1.5em 0.75em
    overflow: auto
    
    max-width: 800px
    margin: 0 auto
    
    &, *
      box-sizing: border-box
  
  h3
    font-size: 1em
    margin: 0
    font-weight: 400
  
  li h3 + p
    margin-top: 0
  
  p
    margin: 1.5em 0
  
  ul
    padding: 0
    margin: 0
    list-style-type: none
    
  a
    color: flatui-belizehole
    text-decoration: none

.secondary-bg
  background: flatui-clouds

.famous-surface
  cursor: pointer